<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25579908600-2ijs610fugra5nafvt4q3jbkm48e4kkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25579908600-2ijs610fugra5nafvt4q3jbkm48e4kkl</string>
	<key>API_KEY</key>
	<string>AIzaSyApXXKAz4MAExzgfNc4HSLsAQT7a6MiAGc</string>
	<key>GCM_SENDER_ID</key>
	<string>25579908600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.onboard</string>
	<key>PROJECT_ID</key>
	<string>onboard-app-e7239</string>
	<key>STORAGE_BUCKET</key>
	<string>onboard-app-e7239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25579908600:ios:c1a6b74e7707ca5565ba0d</string>
</dict>
</plist>